<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huangfugui.ibatis.mapper.LabelInputMapper">
    <insert id="insertLabelInput" useGeneratedKeys="true" keyProperty="id" parameterType="labelInput">
      INSERT INTO
        t_label_input(
          user_id,pic_id,input)
      VALUES(
        #{userId},#{picId},#{input})
    </insert>
</mapper>